input {
     width: 100%; 
    max-width: 300px; 
    padding: 10px;
    margin: 20px auto;
    border: 2px solid #FFDC00;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #001F3F;
    color: #FF4136;
    outline: none;
    transition: border-color 0.3s ease-in-out;

}

@media screen and (max-width: 768px) {

    input {
        width: 90%;
        margin: auto;
    }
    
}