.container {
  max-width: 1080px;
  margin: auto;
  text-align: center;
  /* background-color:#131324; */
  color: white;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}


@media screen and (max-width: 600px){
  .search-div {
    width: 95%;
    margin: auto;
   }
}
 