.App {
  max-width: 1080px;
  margin: auto;
  text-align: center;
  background-color:#001F3F;
  color: #FF4136;
  height: 100vh;

}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top:5vh;
 
}
th {
  font-size: 1.2rem;
  padding: 1rem 0;
}
th, td  {
  color : #FFDC00;
  /* font-size: 1.2rem; */
  padding: .5rem 0;
  text-align: center;
  width: 33%;
  border: 1px solid #ddd;

}
tbody  {
  text-align: left;
  font-size: 1rem;
}

td {
  margin:  10px ;
  color: white;
  font-size: 1rem;
}